body {
  margin: 0px;
  padding: 0px;
background-color: yellow;

}
.dropbutton {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  height: 0px;

  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top:87px;
  left:670px;
  background-color: #f1f1f1;
  min-width: 200px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 135px;
  background-color: black;
}

.name {
  height: 65px;
  position: absolute;
  left: 240px;
  top: 40px;

}

.logo {
  height: 100px;
position: absolute;
left: 120px;
top: 20px;
}

.navlinks {
  position: relative;
  left: 650px;
  top: 60px;
  text-decoration-color: black;
  color: white;
  font-family: 'Fredoka One', cursive;
padding-left: 45px;
  font-size: 22px;
}

.navlinks:hover {
  color: #A69F9F;
}
.soon{
  text-align: center;
  font-size: 50px;
  font-family: 'Courgette', cursive;
  margin: 0;
 position: absolute;
 top: 50%;
 left: 50%;
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);

}
.footer{
  background-color: black;
  height: 140px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;



}
.footname{
  height: 50px;
  position: relative;
  top:20px;



}
.footlogo{
  height: 80px;
  position: relative;
  top: 30px;


}
