body {
  margin: 0px;
  padding: 0px;
background-color: yellow;

}

.navbar {
  height: 135px;
  background-color: black;
}

.name {
  height: 65px;
  position: absolute;
  left: 240px;
  top: 40px;

}

.logo {
  height: 100px;
position: absolute;
left: 120px;
top: 20px;
}

.navlinks {
  position: relative;
  left: 650px;
  top: 60px;
  text-decoration-color: black;
  color: white;
  font-family: 'Fredoka One', cursive;

  font-size: 22px;
}

.navlinks:hover {
  color: #A69F9F;
}
.soon{
  text-align: center;
  font-size: 50px;
  font-family: 'Courgette', cursive;

}
.footer{
  background-color: black;
  height: 140px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;



}
.footname{
  height: 50px;
  position: relative;
  top:20px;



}
.footlogo{
  height: 80px;
  position: relative;
  top: 30px;


}
