body {
  margin: 0px;
  padding: 0px;

}

.navbar {
  height: 135px;
  background-color: black;
}

.name {
  height: 65px;
  position: absolute;
  left: 240px;
  top: 40px;

}

.logo {
  height: 100px;
position: absolute;
left: 120px;
top: 20px;
}

.navlinks {
  position: relative;
  left: 650px;
  top: 60px;
  text-decoration-color: black;
  color: white;
  font-family: 'Fredoka One', cursive;

  font-size: 22px;
}

.navlinks:hover {
  color: #A69F9F;
}

.segment1 {
  width: 100%;
  background-color: black;
  height: 585px;
}

.ss11 {

  width: 50%;
  position: absolute;
left:  0px;
  width: 641px;
  height: 585px;
}

.video {
  margin-bottom: 100px;

  position: absolute;
  top: 250px;
  right: 70px;
}

.segment2 {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  width: 100%;
  background-color: black;
}

.ss22 {
  margin-right: 1px;
  width: 100%;
}

.segment3 {
text-align: center;
}
.hr{
  background-color:white;
border-style:none;
border-top-style: solid;
border-color: black;
border-width: 2.8px;

width:6%;

margin-top: 15px;
}
.team{
  margin-top: 20px;
  font-family: 'Playfair Display', serif;
  font-size: 55px;
  align-items: center;
}
.bean{
  margin-top: 50px;
  border-radius: 100%;
  border-style: solid;
  border-color: black;
  width: 200px;
  height: 200px;

}
.bean:hover{
  width: 250px;
  height: 250px;
}
.names{
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
  grid-row-gap: 5px;


}
table{
  border-collapse: separate;
border-spacing: 50px;
grid-row-gap: 5px;

}
.desc{
  font-size: 17px;
  font-family: 'Fondamento', cursive;

}
.footer{
  background-color: black;
  height: 140px;
  text-align: center;


}
.footname{
  height: 50px;
  position: relative;
  top:20px;



}
.footlogo{
  height: 80px;
  position: relative;
  top: 30px;


}
.insta{
  height: 50px;
}
.mail{
  font-family: 'Quicksand', sans-serif;

}
