h1 {
    font-size: 40px;
    text-align:center;
    color:black;
    position:absolute;
    top:4cm;
    right:14cm;
    margin-bottom: 100px;
    border-bottom: 6px solid black;
}
.form {
    font-size:20px;
    text-align: center;
    color: black;
    position:absolute;
    bottom:1cm;
    right:12cm;
    border: 2px solid black;
    background-color:white;
    padding:10px;
    margin-top:.5cm;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 10px 10px 20px gray;
}
.btn {
    margin-top:20px;
    width: 4cm;
    color:black;
    border: 2px solid black;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(99, 252, 28);
    border-radius: 8px;
    box-shadow: 5px 5px 20px gray;
}