
h1 {
    font-size: 40px;
    text-align:center;
    color:black;
    position:absolute;
    top:4cm;
    right:12cm;
    margin-bottom: 100px;
    border-bottom: 6px solid black;
}

.form1 {
    margin-top:0px;
    margin-bottom:8px;
    height: 2cm;
    text-align:center;
    width: 5cm;
    color:white;
    border: 2px solid white;
    padding: 1px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(241, 119, 119);
    border-radius: 8px;
    box-shadow: 5px 5px 20px gray;
    position:absolute;
    top:12cm;
    right:14cm;
}
.form2 {
    margin-top:0px;
    text-align:center;
    height: 2cm;
    margin-bottom:8px;
    width: 5cm;
    color:white;
    border: 2px solid white;
    padding: 1px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(66, 255, 28);
    border-radius: 8px;
    box-shadow: 5px 5px 20px gray;
    position:absolute;
    top:8cm;
    right:14cm;
}
