{% load static %}
{% if user.is_authenticated %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet"
    href="{% static 'https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap'%}">
  <link rel="stylesheet"
    href="{% static 'https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap' %}">
  <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap' %}">
  <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css2?family=Fondamento:ital@1&display=swap' %}">
  <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css2?family=Quicksand&display=swap' %}">
  <link rel="icon" href="{% static 'images/favicon.ico' %}">
</head>

<div class="navbar">

  <img class="logo" src="{% static 'images/logo.png' %}" alt="">

  <img class="name" src="{% static 'images/name.png' %}" alt="">


  <a class="navlinks" href="{% url 'home' %}">Home</a>

  <div class="dropdown">
    <a class="dropbuttton navlinks" href="#">Collaborate</a>
    <div class="dropdown-content">
      <a href="{% url 'androiddevelopment' %}">Android Development</a>
      <a href="{% url 'blockchain' %}">BlockChain</a>
      <a href="{% url 'datascience' %}">Data Science</a>
      <a href="{% url 'iosdevelopment' %}">IOS Development</a>
      <a href="{% url 'iot' %}">IOT</a>
      <a href="{% url 'machinelearning' %}">Machine Learning</a>
      <a href="{% url 'webdevelopment' %}">Web Development</a>
      <a href="{% url 'others' %}">Others</a>
    </div>
  </div>
  <a class="navlinks" href="{% url 'resources' %}">Resources</a>

  <a class="navlinks" href="{% url 'myprojects' %}">{{user.username}}</a>
  <form action="{% url 'logoutuser' %}" method="POST" class="navlinks">
    {% csrf_token %}
    <button type="submit">Logout</button>
  </form>
</div>



{% else %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet"
    href="{% static 'https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap'%}">
  <link rel="stylesheet"
    href="{% static 'https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap' %}">
  <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap' %}">
  <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css2?family=Fondamento:ital@1&display=swap' %}">
  <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css2?family=Quicksand&display=swap' %}">
  <link rel="icon" href="{% static 'images/favicon.ico' %}">
</head>

<div class="navbar">

  <img class="logo" src="{% static 'images/logo.png' %}" alt="">

  <img class="name" src="{% static 'images/name.png' %}" alt="">


  <a class="navlinks" href="{% url 'home' %}">Home</a>

  <div class="dropdown">
    <a class="dropbuttton navlinks" href="#">Collaborate</a>
    <div class="dropdown-content">
      <a href="{% url 'androiddevelopment' %}">Android Development</a>
      <a href="{% url 'blockchain' %}">BlockChain</a>
      <a href="{% url 'datascience' %}">Data Science</a>
      <a href="{% url 'iosdevelopment' %}">IOS Development</a>
      <a href="{% url 'iot' %}">IOT</a>
      <a href="{% url 'machinelearning' %}">Machine Learning</a>
      <a href="{% url 'webdevelopment' %}">Web Development</a>
      <a href="{% url 'others' %}">Others</a>
    </div>
  </div>
  <a class="navlinks" href="{% url 'resources' %}">Resources</a>

  <a class="navlinks" href="{% url 'loginuser' %}">Login</a>

  <a class="navlinks" href="{% url 'signupuser' %}">Signup</a>
</div>




{% endif %}

{% block content %}
{% endblock %}