{% extends 'Hookup/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'csshomepage/styles.css' %}">
<div class="segment1">

  <img class="ss11" src="{% static 'imageshomepage/ss11.png' %}" alt="">
  <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/h2IJN88-4eY" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>
<div class="segment2">
  <img class="ss3" src="{% static 'imageshomepage/ss3.png' %}" alt="">
  <img class="ss4" src="{% static 'imageshomepage/ss4.png' %}" alt="">

  <!--<img class="ss22" src="{% static 'images/ss22.png" alt="">-->

</div>
<div class="segment3">
  <p class="team">

    Team CodeDiggers</p>
  <p style="font-size: 25px;">Contact Us</p>

  <hr class="hr" />

  <table>
    <tr class="names">
      <td>
        <img class="bean" src="{% static 'imageshomepage/Jayesh.jpeg' %}" alt=""><br />
        Jayesh Purohit


      </td>
      <td>
        <img class="bean" src="{% static 'imageshomepage/shrutika.jpg' %}" alt=""><br />
        Shrutika Pandey

      </td>
      <td>
        <img class="bean" src="{% static 'imageshomepage/sumit.jpg' %}" alt=""><br />
        Sumit Singh


      </td>
      <td>
        <img class="bean" src="{% static 'imageshomepage/me.jpg' %}" alt=""><br />
        Shreya Chhikara

      </td>
      <td>
        <img class="bean" src="{% static 'imageshomepage/naman.jpeg' %}" alt=""><br />
        Naman Garg

      </td>

    </tr>

    <tr class="desc">
      <td>
        Belonging to the city Noida, in the famous city of Uttar Pradesh,
        I am a Competitive Programmer
        and also a Web Developer
        looking for great opportunities.
        <br /><br />

        <a href="{% static 'https://www.instagram.com/___purohit____/' %}"> <img class="insta"
            src="{% static 'imageshomepage/insta.png' %}" alt=""> </a><br />
        <p class="mail">
          Mail at: purohit800@gmail.com
        </p>


      </td>
      <td>
        A budding coder always trying to learn,
        explore and acquire new skills
        so as to bring a change in the society and world.
        Find me living in the beautiful city, Varanasi of Uttar Pradesh.<br /><br />
        <a href="{% static 'https://www.instagram.com/shrutikapandey/' %}"> <img class="insta"
            src="{% static 'imageshomepage/insta.png' %}" alt=""> </a><br />
        <p class="mail">
          Mail at: shrutika.rkt@gmail.com

        </p>



      </td>
      <td>
        From the land of Nawabs, Lucknow.
        I'm a graphic designer, professional sleeper
        and a pretty decent debater who doesn't
        shy away from taking on new challenges.<br /><br />
        <a href="{% static 'https://www.instagram.com/sumit.singh.22' %}"> <img class="insta"
            src="{% static 'imageshomepage/insta.png' %}" alt=""> </a><br />
        <p class="mail">
          Mail at: sumitin2212@gmail.com
        </p>

      </td>
      <td>
        From the city of Sonipat, Haryana,
        I am a budding developer and a programmer.
        A poetess and
        an orator who believes it is not the words but the way that matters.<br /><br />
        <a href="{% static 'https://www.instagram.com/chhikara_shreya/' %}"> <img class="insta"
            src="{% static 'imageshomepage/insta.png' %}" alt=""> </a><br />
        <p class="mail">
          Mail at: schhikara1509@gmail.com

        </p>



      </td>
      <td>
        From heart of the country, Delhi.
        Admirer of the architectural beauty of the Lutyen’s Delhi,
        professional procrastinator and the person
        who always wants to learn more.<br /><br />
        <a href="{% static 'https://www.instagram.com/namangarg155/' %}"> <img class="insta"
            src="{% static 'imageshomepage/insta.png' %}" alt=""> </a><br />
        <p class="mail">
          Mail at: namangarg155@gmail.com

        </p>



      </td>
    </tr>

  </table>



  {% endblock %}