{% extends 'Hookup/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'cssotherpage/myprojectsstyles.css' %}">
<div class="form">
    <h1>MY PROJECTS!</h1><br><br>

    <div class="form1">
        <h3>
        <a href="{% url 'mycompletedprojects' %}">COMPLETED</a>
        <br>
        </h3>
    </div>
    <div class="form2">
        <h3>
        <a href="{% url 'createprojects' %}">CREATE</a>
        <br>
        </h3>
    </div>
        <br>
        {% for project in projects %}
        <br>
        <a href="{% url 'userviewproject' project.id %}">{{ project.title }}</a> by {{ project.user }}
        <br>
</div>
{% endfor %}
{% endblock %}