body {
  margin: 0px;
  padding: 0px;

}

.dropbutton {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  height: 0px;

  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top:87px;
  left:670px;
  background-color: #f1f1f1;
  min-width: 200px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.navbar {
  height: 135px;
  background-color: black;
}

.name {
  height: 65px;
  position: absolute;
  left: 240px;
  top: 40px;

}

.logo {
  height: 100px;
position: absolute;
left: 120px;
top: 20px;
}

.navlinks {
  position: relative;
  left: 650px;
  top: 60px;
  padding-left: 45px;
  text-decoration-color: black;
  color: white;
  font-family: 'Fredoka One', cursive;

  font-size: 22px;
}

.navlinks:hover {
  color: #A69F9F;
}


.footer{
  background-color: black;
  height: 70px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;



}
.footname{
  height: 30px;
  position: relative;
  bottom:20px;



}
.footlogo{
  height: 70px;
  position: relative;
  top: 0px;


}
